* {
  box-sizing: border-box;
}

.form-container {
  width: 300px;
}

.board_container {
  width: 640px;
  margin: 0;
}

#root {
  width: 1005px;
  background-color: #ccc;
  margin-top: 50px;
}

body {
  display: grid;
  justify-items: center;
}

#root > .row > .col-4 {
  padding: 20px 15px;
  background: #d5e2f6;
}

#root > .row > .col-8 {
  padding: 15px;
}

#root > .row > .col-6 {
  padding: 15px;
  background: #d5e2f6;
}

#root > .row {
  margin: 0;
}

#root > .row > .col-12 {
  padding: 20px 15px;
  background: #d5e2f6;
}

#root ul {
  padding-left: 0;
}

.gameUIContainer {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: space-between;
}

.gameUIContainer > .row {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gameUIContainer > .row > .row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.GUI_buttons {
  height: 50px;
  margin: 10px 0px;
}

.GUI_buttons .btn {
  margin: 1px;
  width: 100%;
}

.GUI_buttons .col-4 {
  padding: 1px !important;
}

.GUI_info {
  margin-bottom: 20px;
}

.GUI_name {
  width: 49%;
  margin-bottom: 10px;
}

.GUI_chat {
  margin: 10px 0px 15px 0;
}

.GUI_chat > .col {
  padding: 0;
}

.GUI_chat_text {
  background: white;
  margin: 0;

  overflow-y: auto;
  height: 200px;
  align-self: flex-end;
}

.GUI_chat_text + div {
  margin-top: 0px;
}

.GUI_chat_text + div > button {
  display: inline;
  float: right;
}

.GUI_chat_text + div > input {
  display: inline;
  margin-top: 0px;
  width: 247px;
  font-size: 10pt;
  height: 30px;
  border: none;
  border-top: 1px solid gray;
  padding-left: 3px;
}

.GUI_chat_text > p {
  padding: 5px 5px 0 5px;
  margin: 0;
  font-size: 10pt;
}

.GUI_chat_text > p > span {
  font-size: 11pt;
  font-weight: bold;
}

.GUI_clocks {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 38px;
}

.lobbyInfoBar {
  width: 100%;
  display: flex;
  padding: 10px;
}

.lobbyPage button {
  margin-bottom: 5px;
  float: right;
}

.lobbySelectionContainer > div {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.lobbySelectionContainer > div:nth-of-type(odd) {
  background: #eee;
}

.lobbySelectionContainer > div:nth-of-type(even) {
  background: #f6f6f6;
}

.lobbyInfoBar div:nth-child(1) {
  width: 60%;
}

.lobbyInfoBar div:nth-child(2) {
  width: 20%;
}

.lobbyInfoBar div:nth-child(3) {
  width: 20%;
}

.lobbyPage > h2 {
  margin: 20px 0;
}

.profile-container input {
  width: 150px;
}

.profile-container tr td:first-child {
  font-weight: bold;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

.tableContainer th {
  padding: 0 40px;
}

.tableContainer td {
  padding: 0 40px;
}

.tableContainer thead tr:first-of-type {
  background-color: #aaa;
}

.tableContainer tr:nth-last-child(even) {
  background-color: #ddd;
}

.tableContainer tr {
  background-color: #ccc;
}

.tableContainer table {
  border: 2px solid gray;
}
